body {
  height: 95vh;
  color: aliceblue;
}

.quote-container {
  margin-top: 10rem;
  text-align: center;
  color: aliceblue;
}

.load {
  color: green;
}

.error {
  color: red;
}

.quote {
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.2;
  color: greenyellow;
}

.author {
  color: aliceblue;
}
